body{
  font-family: 'Oswald', Helvetica, sans-serif; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgb(235, 213, 217)
}
h1{
  text-shadow: #FFFF00;
  text-align: center;  
}
.gameArea {  
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -30px 20px 40px dimgrey;
  color:rgba(0,0,0,0.5);
  font-size: 40px;
  background-color: pink;
  height: 462px;
  width: 462px;
  border: 4px solid #FFFF00;
}

.gameCell{
  height: 150px;
  width:150px;
  border: 2px solid #FFFF00;
}